:root {
  // Colors
  --color--primary: #2773a8;
  --color--primary--light: #578eb6;
  --color--black: #000000;
  --color--green: #ccffcc;
  --color--lighter--green: #fcfff5;
  --color--light--green: #a3c293;
  --color--gray: #e8e8e8;
  --color--group--border: #d4d4d5;
  --color--gray-background: #eeeded;
  --color--dark--gray: #767676;
  --color--light--gray: #f2f2f2;
  --color--rich--blue: #1e70bf;
  --color--red--light: #ffcccc;
  --color--red--dark: #db2828;
  --color--red--darker: #ac423c;
  --color--white: #ffffff;
  --color--violet: #c2c2f5;
  --color--orange: #f6995c;
  --color--scroll-track: #f1f1f1;
  --color--scroll-thumb: #888;
  --color--scroll-active: #333;
  --color--scroll-hover: #555;

  --color--purple: #502aa1;
  --color--purple--dark: #6435c9;
  --color--header--search--icon: #8dc0e5;
  --color--wrapper--border: 0px 1px 2px 0 rgb(34 36 38 / 15%);
  --color--wrapper--border--dark: 1px solid rgba(34, 36, 38, 0.15);
  --color--inline--form--background: #fffaf3;
  --color--inline--hover--form--background: #fff4e4;
  // Font sizes
  --font--size--small: 12px;
  --font--size--13: 13px;
  --font--size--main: 14px;
  --font--size--normal: 16px;
  --font--size--xxl: 25px;
}
